.search {
  display: flex;
  align-items: center;
  position: relative;

  button {
    background: #ff842c;
    border-radius: 0px 6px 6px 0px;
    color: #fff;
    border: 1px solid #ff842c;
    outline: none;
    width: 78px;
    height: 31px;
  }

  input {
    position: relative;
    width: 50%;
    height: 31px;
    border: 1px solid #ff842c;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    padding-left: 10px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 31px;
        height: 31px;
        background: url('./Vector.png')
            no-repeat center center;
        background-size: 20px;
    }
  }
}

.results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 40rem;
  overflow-y: scroll;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 10%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: black;
  }
}
