.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.1rem;
  align-items: flex-start;
  padding: 2rem;
}

.buy {
  width: 377px;
  height: 56px;
  background: #ff842c;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  color: #fff;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #009d35;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    list-style: none;

    li {
        width: 25%;
    }
}
